[submodule "lib/rust_mongo_bench"]
	path = lib/rust_mongo_bench
	url = git@github.com:zhangwei217245/rust_mongo_bench.git
[submodule "lib/json-c"]
	path = lib/json-c
	url = git@github.com:json-c/json-c.git
